In [1]:
import pandas as pd
import warnings  
warnings.filterwarnings('ignore')
import dask.dataframe as dd
import dask

In [2]:
recurses = dd.read_csv('./512792422459-aws-billing-detailed-line-items-with-resources-and-tags-2019-04.csv', usecols=['InvoiceID', 'PayerAccountId', 'LinkedAccountId', 'RecordType',
       'RecordId', 'ProductName', 'RateId', 'SubscriptionId',
       'PricingPlanId', 'UsageType', 'Operation', 'AvailabilityZone',
       'ReservedInstance', 'ItemDescription', 'UsageStartDate',
       'UsageEndDate', 'UsageQuantity', 'BlendedRate', 'BlendedCost',
       'UnBlendedRate', 'UnBlendedCost', 'ResourceId'], 
        dtype={'InvoiceID': 'float64',
       'LinkedAccountId': 'float64',
       'PricingPlanId': 'float64',
       'RateId': 'float64',
       'SubscriptionId': 'float64'})

recurses['Month'] = '2019-04'

In [3]:
recurses = recurses[recurses.RecordType == 'LineItem']

In [4]:
recurses['key'] = 1
recurses['key'] = recurses.key.cumsum()
recurses['key'] = recurses.key.apply(lambda x: '512792422459_2019-04_' + str(x))

In [5]:
recurses.head()

,InvoiceID,PayerAccountId,LinkedAccountId,RecordType,RecordId,ProductName,RateId,SubscriptionId,PricingPlanId,UsageType,...,UsageStartDate,UsageEndDate,UsageQuantity,BlendedRate,BlendedCost,UnBlendedRate,UnBlendedCost,ResourceId,Month,key
0,214560353.0,512792422459,8.901886e+11,LineItem,NaN,Amazon Relational Database Service,6014822.0,1.461677e+09,654032.0,SAE1-HeavyUsage:db.m3.medium,...,2019-04-01 00:00:00,2019-04-30 23:59:59,720.000000,0.072000,51.840000,0.072,51.84000,NaN,2019-04,512792422459_2019-04_1
1,214560353.0,512792422459,8.901886e+11,LineItem,NaN,Amazon Relational Database Service,6833396.0,2.325512e+09,683679.0,SAE1-HeavyUsage:db.m3.medium,...,2019-04-12 20:24:53,2019-04-30 23:59:59,435.585278,0.036000,15.681070,0.036,15.68107,NaN,2019-04,512792422459_2019-04_2
2,214560353.0,512792422459,8.901886e+11,LineItem,NaN,Amazon Relational Database Service,6014822.0,2.332234e+09,654032.0,SAE1-HeavyUsage:db.m3.medium,...,2019-04-15 14:44:58,2019-04-30 23:59:59,369.250556,0.072000,26.586040,0.072,26.58604,NaN,2019-04,512792422459_2019-04_3
3,214560353.0,512792422459,8.901886e+11,LineItem,221697692644324260974230414,AmazonCloudWatch,410216093.0,7.337086e+07,46655381.0,DashboardsUsageHour-Basic,...,2019-04-01 00:00:00,2019-04-01 01:00:00,0.001389,2.806561,0.003898,0.000,0.00000,NaN,2019-04,512792422459_2019-04_4
4,214560353.0,512792422459,8.901886e+11,LineItem,221697157688746123393527864,AmazonCloudWatch,410216047.0,7.337086e+07,46655381.0,SAE1-CW:AlarmMonitorUsage,...,2019-04-01 00:00:00,2019-04-01 01:00:00,0.008333,0.126895,0.001057,0.000,0.00000,NaN,2019-04,512792422459_2019-04_5

In [6]:
%%time

from sqlalchemy import create_engine
engine = create_engine('postgresql://onecloud:123456@postgres:5432/oc_billing', echo=False)

dto_sql = dask.delayed(pd.DataFrame.to_sql)
out = [dto_sql(d, 'onecloud_billing', con=engine, if_exists='append', index=False, index_label='key')
       for d in recurses.to_delayed()]
dask.compute(*out)

CPU times: user 25min 38s, sys: 6min 51s, total: 32min 29s
Wall time: 24min 31s